/vendor/
/logs/*
!/logs/README.md
/coverage/
*.php_cs.cache
/nbproject/
/build/
/cache/
/.env
/.scannerwork/
/.phpunit.result.cache
/dump.rdb
/.DS_Store

/cup-format-sample.json
/external-api-sample.json
/alter-tables.sql
/schema.sql